# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
.env/

# Environment variables
.env

# Flask
instance/
.webassets-cache

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp

# IDE
.vscode/
.idea/

# Node (if frontend uses it)
node_modules/

# Uploaded images (photobooth)
uploads/